html {
  scroll-behavior: smooth;
}

body {
  width: 1920px;
  overflow-x: hidden;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

/*header*/

header {
  width: 100%;
  height: 50px;
  background-color: #f2eee9;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

header h1 {
  padding-top: 5px;
  font-size: 20px;
  font-family: "Yeseva One", serif;
  line-height: 20px;
  text-align: center;
}

header h1 span {
  font-size: 15px;
}

nav ul {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0;
}

ul li {
  text-transform: uppercase;
  float: left;
  margin-right: 20px;
}

ul li a:hover {
  font-weight: bold;
}

/* 페이지를 내릴 때 해더 색상 변경을 위한 스타일 */
.header-scrolled {
  background-color: #fff; /* 원하는 색상으로 변경하세요 */
}

/*section1*/

main > section {
  padding-top: 50px;
}

.main_visual {
  width: 100%;
  height: 100vh;
  background-color: #f2eee9;
  font-family: "Sawarabi Mincho", serif;
  font-size: 85px;
  line-height: 90px;
  position: relative;
  padding-left: 100px;
}

.text_box {
  padding-top: 50px;
}

/*section2*/

.visual2 {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 20px;
}

.view a {
  display: block;
  width: 500px;
  height: 300px;
}

.visual2 .me img {
  width: 500px;
  position: absolute;
  bottom: 0;
}

.visual2 .inner {
  width: 1518px;
  height: 700px;
  margin: 100px 0 100px 300px;
  display: flex;
  justify-content: space-around;
  padding-left: 100px;
}

.inner div {
  width: 400px;
  height: 600px;
  margin-top: 100px;
}

.inner .pro1 {
  padding-left: 100px;
}

.inner .pro2,
.inner .pro3 {
  padding-top: 50px;
}

.inner h2,
h3,
p {
  padding-bottom: 10px;
}

.inner p span {
  display: inline-block;
  width: 140px;
}

.inner .pro3 img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
}

.inner h2,
.inner h3 {
  position: relative;
}

.pro1 h2::after {
  display: block;
  width: 160px;
  height: 20px;
  background-color: #f2eee9;
  position: absolute;
  top: 70px;
  z-index: -1;
}

.inner h3::after {
  display: block;
  width: 135px;
  height: 20px;
  background-color: #f2eee9;
  position: absolute;
  top: 20px;
  z-index: -1;
}

.inner .pro1 .coment::after {
  width: 100px;
}

.inner .pro3 .skills::after {
  width: 60px;
}
/*section3*/

.visual3 {
  width: 100%;
  height: 100vh;
}

.visual3 .left {
  height: 100%;
  background-color: #f2eee9;
  padding-left: 350px;
}

.visual3 .containers {
  width: 1570px;
  padding-right: 50px;
}

.visual3 .container {
  padding: 50px 100px 50px;
}

.visual3 .box {
  border-radius: 20px;
  width: 600px;
  height: 700px;
  padding: 20px;
  background-color: #f2eee9;
}

.visual3 .slide1,
.visual3 .slide2,
.visual3 .slide3 {
  width: 560px;
  height: 300px;
  margin-bottom: 20px;
}

.visual3 .slide1 > a,
.visual3 .slide2 > a,
.visual3 .slide3 > a {
  display: block;
  width: 560px;
  height: 300px;
}

.visual3 .slide1 {
  background: url(../images/sanrio.png) no-repeat;
  background-size: 560px;
}

.visual3 .slide2 {
  background: url(../images/challenge.png) no-repeat;
  background-size: 560px;
}

.visual3 .boxInner .title {
  font-size: 15px;
  font-weight: bold;
}

.button {
  justify-content: flex-end;
}

.button p {
  margin-left: 10px;
}

.button p img {
  width: 20px;
}

.button p a:hover {
  text-decoration: underline;
}

.coment img {
  width: 30px;
}

.coment p {
  margin-right: 10px;
}

/*slide*/

.containers {
  position: relative;
}

.slick-arrow {
  z-index: 50;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 0;
}
/*제이쿼리에서 만들어준 자동버튼*/

.containers button {
  border: 0;
  outline: 0;
  cursor: pointer; /*손가락 모양 나오는 법*/
}

.slick-prev {
  left: 0;
} /*버튼 왼쪽*/

.slick-next {
  right: 20px;
} /*버튼 오른쪽*/

.slick-arrow:before {
  font-family: xeicon; /*이걸 해줘야 보임*/
}

.slick-prev:before {
  content: "\e93b";
  font-size: 50px;
  color: #f2eee9;
}

.slick-next:before {
  content: "\e93e";
  font-size: 50px;
  color: #f2eee9;
}

.containers .slick-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.containers .slick-dots li {
  float: left; /*버튼 거로배치*/
  margin: 10px;
}

.containers .slick-dots li button {
  width: 10px;
  height: 10px;
  background: #f2eee9;
  font-size: 0;
  border-radius: 5px;
}

.containers .slick-dots li.slick-active button {
  background: #5d432c;
}
